# Outils mobiles pour Java (J2ME)
.mtj.tmp/

# Dossiers et fichiers liés à NetBeans
/nbproject
build.xml

# Dossiers issus de la compilation du projet
/build
/dist

# Fichiers générés
*.jar
*.war
*.ear
*.class
manifest.mf

# Fichier de configuration de SonarQube
sonar-project.properties

# Logs de crash de la machine virtuelle, voir http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Fichiers temporaires
*~

